<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }} &middot; tomafro.net</title>{% if page.description %}
  <meta name="description" content="{{ page.description }}"/>{% endif %}{% if page.robots %}
  <meta name="robots" content="{{ page.robots }}"/>{% endif %}
  <link rel="stylesheet" href="/css/style.css" type="text/css" />
  <link rel="alternate" type="application/atom+xml" href="http://tomafro.net/atom.xml" />
  <link rel="canonical" href="http://tomafro.net{{ page.url }}"/>
  {% unless page.hide_analytics %}

  {% endunless %}
</head>
<body>  
  <div id="container">
    <div id="main">
      {{ page.body }}
    </div>
  </div>
</body>	
</html>